<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css" media="screen" />
        <title>GeekLife</title>
  </head>

    <body>
        <header>
        <div class="container">
            <h1>Geek Life</h1>
            <h2>Geek my life</h2>
        </div>
        </header>

        {{ content }}

    </body>
</html>
